<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <title>Uploader</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
  <style>
    body {font-family: 'Roboto', sans-serif;}
  </style>
  <body>
    <div ng-controller="UploadController as ctrl">
      <form ng-submit="ctrl.onSubmit()">
        <input type="file">
        <button type="submit">Upload</button>
      </form>
      <div ng-if="!ctrl.uploadedFileUrl || ctrl.isWorking" style="margin-top: 20px; display: inline-flex; padding: 10px; border: 2px dotted #D3E4F9; border-radius: 5px;">
        <div ng-if="!ctrl.isWorking">
          Choose or paste an image to upload
          <br><br>
          <small>Tip: Use ⌘+Ctrl+Shift+4 on Mac to quickly capture screenshots to clipboard.</small>
        </div>
        <div ng-if="ctrl.isWorking">
          <div ng-if="ctrl.isError">
            Sorry, an error occurred.
          </div>
          <div ng-if="!ctrl.isError">
            Working...
          </div>
        </div>
      </div>
      <div ng-if="ctrl.uploadedFileUrl && !ctrl.isWorking" style="margin-top: 20px">
        <div style="margin-bottom: 20px">
          <a ng-href="/{{ctrl.fileId}}">{{ctrl.baseUrl}}/{{ctrl.fileId}}</a>
        </div>
        <a ng-href="/{{ctrl.fileId}}" ng-if="ctrl.isImage">
          <img ng-src="/{{ctrl.fileId}}" style="max-width: 500px">
        </a>
      </div>
    </div>
    <script>
      var UploadController = function($http, $element) {
        this.el_ = $element[0];
        this.inputEl = this.el_.querySelector('input[type="file"]');
        this.uploadedFileUrl = null;
        this.isImage = null;
        this.isWorking = false;
        this.isError = false;
        this.baseUrl = window.location.origin;
        this.$http = $http;

        document.addEventListener('paste', function(e) {
          if (!e.clipboardData.files.length) {
            return;
          }
          let file = event.clipboardData.files[0];
          this.createSignedUrlAndUpload(file);
        }.bind(this));
      };

      UploadController.prototype.onSubmit = function() {
        let fileObj = this.inputEl.files[0];
        this.createSignedUrlAndUpload(fileObj);
      };

      UploadController.prototype.upload = function(file, options) {
        this.isImage = options.contentType.startsWith('image');
        this.$http.put(options.uploadUrl, file, {
          headers: {'Content-Type': options.contentType},
        }).success(function(result) {
          this.isWorking = false;
          console.log(`File was uploaded to: ${options.gsPath}`);
          this.uploadedFileUrl = `https://storage.googleapis.com${options.gsPath}`;
          this.finalize(file, options);
        }.bind(this)).error(function(result) {
          this.isError = true;
        }.bind(this));
      };

      UploadController.prototype.finalize = function(file, options) {
        this.$http({
          method: 'POST',
          headers: {'Content-Type': 'application/x-www-form-urlencoded'},
          url: '/_api/create_serving_url',
          data: `file_id=${options.fileId}`,
        }).success(function(result) {
          this.isWorking = false;
          console.log(result);
        }.bind(this)).error(function(result) {
          this.isError = true;
        }.bind(this));
      }

      UploadController.prototype.createSignedUrlAndUpload = function(file) {
        this.isWorking = true;
        this.isError = false;
        let apiRoot = '/_api/create_upload_url';
        let fileName = file.name;
        let contentLength = file.size;
        let path = apiRoot + '?name=' + fileName + '&content_length=' + contentLength;
        this.$http.get(path).success(function(resp) {
          this.upload(file, {
            contentType: resp['content_type'],
            fileId: resp['file_id'],
            gsPath: resp['gs_path'],
            uploadUrl: resp['upload_url'],
          });
        }.bind(this));
      };

      let app = angular.module('fileUpload', []);
      app.controller('UploadController', UploadController);
      angular.bootstrap(document, ['fileUpload']);
    </script>
